.page {
  height: 100%;
}

.body {
  min-height: 100%;
  font-family: "PT Serif", "Arial", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  background-color: $main-color;
  color: $main-black;
  overflow-x: hidden;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 23px;
  }

  @media (min-width: $descktop-width) {
    font-size: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/11.png");
    background-repeat: repeat;
    background-size: contain;
    top: 0;
    left: 0;
    opacity: 0.2;
  }
}

main {
  min-width: 0;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 189px;
  height: 41px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $btn-text;
  background-color: $btn-color;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition-duration: 0.3s;

  @media (min-width: $tablet-width) {
    width: 208px;
    height: 45px;
    font-size: 17px;
    line-height: 21px;
  }

  @media (min-width: $descktop-width) {
    width: 229px;
    height: 50px;
    font-size: 20px;
  }

  &:hover,
  &:focus {
    color: $main-black;
    border: 2px solid $excretion-color;
    background-color: $main-color;
  }
}

.container {
  min-width: 260px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {

    padding: 0 25px;
  }

  @media (min-width: $descktop-width) {
    max-width: 1350px;
    padding: 0 45px;
  }
}
