// Colors

$main-color: #ffffff;
$text-color: #272727;
$header-background: #181818;
$header-link: #F4CE0C;
$btn-background: #DADADA;
$btn-active-background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
$btn-color: #8E8E8E;
$btn-active-color: #0D0C11;
$excretion-color: #FFC700;
$block-color: rgba(243, 243, 242, 0.8);
$type-color: #F2F3F3;
$line-color: #3BDE7C;
$calling-color: #EB1B00;
$protect-color: #1C2741;
$checked-color: #2950C2;

// Viewports

$descktop-width: 1024px;
$tablet-width: 768px;
