// Colors

$main-color: #ffffff;
$main-black: #000000;
$btn-color: #8e8e8e;
$btn-text: #26d723;
$excretion-color: #6dd76b;
$timer-color: #eb1b00;

// Viewports

$descktop-width: 1024px;
$tablet-width: 768px;
